.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: url('#{$bgHome}') no-repeat 50% fixed;
    background-size: cover;

    h1 {
        font-size: 70px;
        line-height: 75px;
        margin: 0 10vw 2rem 10vw;
        font-weight: bolder;
        font-family: Poppins,sans-serif;
        color: #1e1e1e;
    }
    p {
        font-size: 1.7rem;
        font-weight: 500;
        color: #5b5b5f;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
        font-size: 0.7em;
    }
}

@media (min-width: 992px) {
    .home-content {
        height: 100vh;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .home-content {

        h1 {
            font-size: 60px;
            line-height: 65px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}
