.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url('#{$bgHome}') no-repeat 50% fixed;
    background-size: cover;

    h1 {
        font-size: 70px;
        line-height: 75px;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    
    h1,
    p {
        color: #1e1e1e;
    }
    p {
        font-size: 1.7rem;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
    }
}

@media (min-width: 992px) {
    .home-content {
        height: 100vh;
        padding: 0;
    }
}