.navbar-brand {
    font-family: Lato;
    font-weight: bolder;
}

.navbar-brand img {
    width: 100%;
    padding: 5px 20px 5px 0;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}


.nav-item {
    text-transform: uppercase;
    width: 15%;
}

.nav-item a:hover {
    font-weight: 600;
}

.nav-item a::before {
    content: "";
    margin: 0 auto;
    border-bottom: 2px solid #cb2c30;
    position: absolute;
    bottom: 10px;
    left: 35%;
    right: 35%;
    opacity: 0;
}

.nav-item a:hover::before {
    opacity: 1;
}
