// This is the place to place Bootstrap's variables overrides.

// Color system

// stylelint-disable
$white:    #fff !default;
$gray-100: #d9dada !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #007f8b !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $green !default;
$secondary:     $gray-600 !default;
$success:       $blue !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


//Home background image
//You need to change only the name and the type of your image
//For example:./img/your-image.png 
$bgHome : "./img/bg-principal.png";


// Links
//
// Style anchor elements.

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;
